name: ABC Institute API Docker Image CI/CD

on:
  push:
    branches: [ master ]
#   pull_request:
#     branches: [ master ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Docker Login
      env:
        DOCKER_USER: ${{secrets.DOCKER_USER}}
        DOCKER_PASSWORD: ${{secrets.DOCKER_TOKEN}}
      run: |
        docker login -u $DOCKER_USER -p $DOCKER_PASSWORD 
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag $DOCKER_USER/abc-institute-api:$(date +%s)
      
    - name: Docker Push
      run: docker push $DOCKER_USER/abc-institute-api
